{erl_opts, [debug_info]}.

{deps, [
        {vernemq_dev, {git, "git://github.com/vernemq/vernemq_dev.git", {tag, "1.0.0"}}}
       ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{dialyzer, [
            {warnings, [no_return]},
            {plt_apps, top_level_deps},
            {plt_prefix, "{{name}}"}
           ]
}.

{eunit_compile_opts, [nowarn_export_all]}.

{ct_compile_opts, [nowarn_export_all]}.

{plugins, [rebar3_format]}.

%% Formatter configuration: See https://github.com/AdRoll/rebar3_format.
{format, [
    {files, ["src/*.erl", "test/*.erl", "include/*.hrl"]},
    {options, #{
        break_indent => 4,
        paper => 100,
        ribbon => 90,
        inline_attributes => none
    }}
]}.
